* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;

}
:root {
    --color-1:#FFF;
    --color-2:#252323;
    --color-3:#1C5BFF;

    font-size: 62.5%; /* 1rem = 10px */
}
header {
    background-color: var(--color-3);
    position: absolute;
}
a {
    text-decoration: none;
    color: var(--color-1);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4.8rem 12rem;
}
nav h1 {
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--color-1);
}
.nav-group {
    display: flex;
    align-items: center;
}
header nav ul {
    list-style: none;
    display: flex;
}

header nav li {
    margin-right: 4.8rem;
}
.icons {
    margin-left: 1.6rem;
}
.about {
    margin: 12.1rem 12rem 21.4rem;
}
.about h2, p {
    color: var(--color-1);
    margin-bottom: 2.4rem;
}
.about h2 {
    font-weight: 700;
    font-size: 6.4rem;
}
.about button {
    padding: 1.5rem 4.8rem;
    border: none;
    border-radius: 8rem;
    cursor: pointer;
}